<div class="bg-white py-4 font-display border border-gray-100 rounded">
  <div class="px-8 flex justify-between">
    <div class="font-display text-xl">Text Search</div>
  </div>
  <div class="mt-4 mx-1">
    <%= form_with url: text_search_submit_path, method: "post" do |form| %>
      <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/4 bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500">
          <%= form.text_field :query %>
        </div>
        <div class="md:w-1/4 ml-5">
          <%= form.submit "Search", class: "shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded" %>
        </div>
      </div>
    <% end %>
    <%#= form_for @search, url: text_search_submit_path, class: "w-full max-w-sm", html: { data: { controller: "text-search", action: "submit->text-search#onPostSend turbo:submit-end->text-search#onPostSuccess" } } do |form| %>
<!--      <div class="md:flex md:items-center mb-6">-->
<!--        <div class="md:w-1/4">-->
          <%#= form.label :query, "Search:", class: "block text-gray-500 md:text-right mb-1 md:mb-0 pr-4" %>
          <%#= form.text_field :query %>
<!--        </div>-->
<!--        <div class="md:w-2/4">-->
          <%#= form.hidden_field :image, value: @search.cached_image_data %>
          <%#= form.file_field :image, class: "bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500" %>
<!--        </div>-->
<!--        <div class="md:w-1/4 ml-5">-->
          <%#= form.submit "Search", class: "shadow bg-green-500 hover:bg-green-400 focus:shadow-outline focus:outline-none text-white py-2 px-4 rounded" %>
<!--        </div>-->
<!--      </div>-->
    <%# end %>
    <div id="loader" class="hidden w-full h-full fixed block top-0 left-0 bg-white opacity-75 z-50">
    <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="top: 50%;">
      <i class="fas fa-circle-notch fa-spin fa-5x"></i>
      <div class="text-center mt-2">Searching...</div>
    </span>
    </div>
    <%#= turbo_frame_tag "search_item" do %>
      <%#= render partial: "search_item", locals: { search: @search, results: @results } unless @results.nil? %>
    <%# end %>
    <%= turbo_frame_tag "search_results" do %>
      <%= render partial: "results", locals: { search: @search, results: @results } unless @results.nil? %>
    <% end %>
  </div>
</div>
