<div class="author" data-controller="author">
  <img
    class="author__image"
    src="<%= @youtube_channel.channel_image_url %>"
    width="300" height="300"
    alt="Profile photo of <%= @youtube_channel.title %>"
  >
  <div class="author__profile">
    <div class="author__name">
      <span class="author__display-name"><%= @youtube_channel.title %></span>
    </div>
    <div class="author__metadata">
      <%= abbreviate_number(@youtube_channel.num_subscribers) %>
      <%= "subscriber".pluralize(@youtube_channel.num_subscribers) %>
      •
      <%= abbreviate_number(@youtube_channel.num_views) %>
      <%= "view".pluralize(@youtube_channel.num_views) %>
      •
      <%= abbreviate_number(@youtube_channel.num_videos) %>
      <%= "video".pluralize(@youtube_channel.num_videos) %>
    </div>
    <div class="author__description">
      <%= @youtube_channel.description %>
    </div>
    <div class="author__metadata">
      <span class="icon-prefixed">
        <svg class="icon icon--xl"><use xlink:href="#svg-calendar-outline"></use></svg>
        <span>
          Channel created on
          <time
            datetime="<%= @youtube_channel.sign_up_date.iso8601 %>"
            data-author-target="timestamp"
          >
            <%= @youtube_channel.sign_up_date %>
          </time>
        </span>
    </div>
  </div>
</div>

<div class="author-archive">
  <div class="author-archive__header">
    <h2 class="author-archive__title">
      <span class="author-archive__title__archive-size"><%= @archive_items.length %></span>
      <%= "item".pluralize(@archive_items.length) %>
      archived
    </h2>
    <div class="author-archive__actions">
      <%= link_to youtube_channel_path(@youtube_channel, format: "json"), {
        title: "Download channel archive in JSON format",
        class: "btn icon-prefixed",
        download: true
      } do %>
        <svg class="icon icon--lg"><use xlink:href="#svg-download-outline"></use></svg>
        JSON
      <% end %>
    </div>
  </div>
  <div class="archive-items archive-items--masonry archive-items--boxed-items">
    <% @archive_items.each do |archive_item| %>
      <%= render partial: "media_vault/archive/archive_item", locals: {
        **archive_item.normalized_attrs_for_views,
        include_author: false
      } %>
    <% end %>
  </div>
</div>
