<%= turbo_frame_tag "active_jobs" do %>
  <table id="jobs-table" class="table-auto w-full">
    <thead id="jobs-table-head">
    <tr>
      <th class="border text-center">Queue position</th>
      <th class="border text-center">Enqueued at</th>
      <th class="border text-center">Url to scrape</th>
    </tr>
    </thead>
    <tbody id="jobs-table-body">
      <% @jobs_queue.each do |job| %>
        <tr class="border text-gray-600 text-center">
          <td><%= job[:queue_position] + @jobs_offset %></td>
          <td><%= job[:enqueued_at] %></td>
          <td><%= job[:url] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="mt-5 mb-10">
  <% unless @previous_jobs_page.nil? %>
    <a href="/jobs/active_jobs?active_jobs_page=<%= @previous_jobs_page %>" rel="previous">Previous Page</a>
  <% else %>
    <span class="text-slate-400">Previous Page</span>
  <% end %>
  &nbsp;&nbsp;&nbsp;
  <% unless @next_jobs_page.nil? %>
    <a href="/jobs/active_jobs?active_jobs_page=<%= @next_jobs_page %>" rel="next">Next Page</a>
  <% else %>
    <span class="text-slate-400">Next Page</span>
  <% end %>
<% end %>

