<div data-controller="jobs-status" data-loaded-scrapes-count="<%= @total_scrapes_count %>" data-loaded-jobs-count="<%= @total_jobs_count %>">
  <div class="text-3xl font-bold mt-5">Active Queued Jobs in Sidekiq</div>
  <div class="flex flex-row justify-between">
    <div class="w-fit">
      <span class="font-bold">Queued Jobs in Sidekiq:</span>
      <span class="font-semibold" data-jobs-status-target="jobsCount"><%= @total_jobs_count %></span>
    </div>
  </div>

  <div class="text-3xl font-bold mt-10">Jobs Submitted to Hypatia</div>
  <div class="flex flex-row justify-between">
    <div class="w-fit">
      <span class="font-bold">Jobs Submitted to Hypatia:</span>
      <span class="font-semibold" data-jobs-status-target="scrapesCount"><%= @total_scrapes_count %></span>
    </div>
    <button id="new-scrapes" data-jobs-status-target="scrapesPill" data-action="jobs-status#reloadScrapes" class="w-fit rounded-full bg-cyan-500 text-white py-2 px-6" hidden ></button>
    <div>&nbsp;</div>
  </div>
  <div id="scrapes-div" class="mt-5">
    <%= turbo_frame_tag "scrapes", src: jobs_status_scrapes_path(active_scrapes_page: @active_scrapes_page), loading: "lazy"%>
  </div>
</div>
