<% @title_tag = "Log in" %>

<div class="box box--sm box--miniform">
	<!-- TODO: customize depending on the insights/vault split -->
	<p>
		<%= t("login.to_access_system") %>
		<%= t("login.dont_have_an_account") %>
		<%= link_to t("login.request_one_here"), new_applicant_path %>
	</p>
	<%= form_for(
				resource,
				as: resource_name,
				url: session_path(resource_name),
				html: {
					class: "form form--vertical",
					data: { turbo: false }
				}) do |f| %>
		<%= f.email_field(
					:email,
					autofocus: true,
					autocomplete: "email",
					placeholder: t("login.email_address"),
					class: "input input--email") %>
		<%= f.password_field(
					:password,
					autocomplete:
					"current-password",
					placeholder: t("login.password"),
					class: "input input--password") %>
		<%= f.submit(
					t("login.log_in"),
					class: "btn btn--submit") %>
	<% end %>
	<p>
		<%= t("login.forgot_your_password") %>
		<%= link_to t("login.reset_it_here"), reset_password_path %>
	</p>
</div>
