<% @title_tag = "Log in" %>

<div class="box box--sm box--miniform">
	<p>
		To access Zenodotus, please log in below.
		Don’t have an account?
		<%= link_to "Request one here", new_applicant_path %>
	</p>
	<%= form_for(
				resource,
				as: resource_name,
				url: session_path(resource_name),
				html: {
					class: "form form--vertical",
					data: { turbo: false }
				}) do |f| %>
		<%= f.email_field(
					:email,
					autofocus: true,
					autocomplete: "email",
					placeholder: "Email address",
					class: "input input--email") %>
		<%= f.password_field(
					:password,
					autocomplete:
					"current-password",
					placeholder: "Password",
					class: "input input--password") %>
		<%= f.submit(
					"Log in",
					class: "btn btn--submit") %>
	<% end %>
	<p>
		Forgot your password?
		<%= link_to "Reset it here", reset_password_path %>
	</p>
</div>
