<footer id="site-footer">
	<div id="site-footer__about">
		<%= link_to use_svg("media-vault-logo", title: "MediaVault", svg_attrs: { id: "site-footer__logo", width: 180, height: 77, role: "img" }), root_path %>
		<div id="site-footer__legal">
			<p><%= link_to "MediaVault", root_path %> is a project of the <%= link_to "Duke Reporters’ Lab", "https://reporterslab.org/" %>. It is an archive of images, videos and memes that have been analyzed by reputable fact-checking organizations from around the world.</p>
			<p>© <%= link_to "Duke Reporters’ Lab", "https://reporterslab.org/" %> 2022. The compilation of this data is licensed under <%= link_to "CC BY", "https://creativecommons.org/licenses/by/4.0/" %>.</p>
		</div>
	</div>

	<nav id="site-footer__nav--primary" class="site-footer__nav">
		<ol>
			<% if user_signed_in? %>
				<% if current_user.can_access_media_vault? %>
					<li><%= link_to "Dashboard", media_vault_dashboard_path %></li>
					<li><%= link_to "Guide to the Data", media_vault_guide_path %></li>
				<% else %>
					<li>(Request Access TBD)</li>
				<% end %>
			<% else %>
				<li><%= link_to "Request access", new_applicant_path %></li>
				<li><%= link_to "Log in", new_user_session_path %></li>
			<% end %>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ol>
	</nav>

	<nav id="site-footer__nav--secondary" class="site-footer__nav">
		<ol>
			<li><%= link_to "Terms and Conditions", media_vault_terms_path %></li>
			<li><%= link_to "Privacy Policy", media_vault_privacy_path %></li>
			<li><%= link_to "Opt Out", media_vault_optout_path %></li>
			<li><%= link_to "GitHub", "https://github.com/TechAndCheck/zenodotus/" %></li>
			<li><%= link_to "Fact-Check Insights", fact_check_insights_root_url %></li>
		</ol>
	</nav>

	<%= link_to "https://reporterslab.org/", id: "site-footer__reporters-lab-logo" do %>
		<%= image_tag "logos/duke-reporters-lab-logo.png", size: "167x60", alt: "Duke Reporters’ Lab | Sanford School of Public Policy" %>
	<% end %>
</footer>
