<footer id="site-footer">
	<div id="site-footer__about">
		<%= link_to use_svg("media-vault-logo", title: "MediaVault", svg_attrs: { id: "site-footer__logo", width: 180, height: 77, role: "img" }), root_path %>
		<div id="site-footer__legal">
			<p><%= t("layouts.footer.is_a_project_of",
									media_review_link: link_to("MediaVault", root_path),
									reporters_lab_link: link_to("Duke Reporters’ Lab", "https://reporterslab.org/")).html_safe %></p>
			<p><%= t("layouts.footer.copyright",
									reporters_lab_link: link_to("Duke Reporters’ Lab", "https://reporterslab.org/"),
									current_year: Date.today.strftime("%Y"),
					 				createive_commons_link: link_to("CC BY", "https://creativecommons.org/licenses/by/4.0/")).html_safe %></p>
		</div>
	</div>

	<nav id="site-footer__nav--primary" class="site-footer__nav">
		<ol>
			<% if user_signed_in? %>
				<% if current_user.can_access_media_vault? %>
					<li><%= link_to "Dashboard", media_vault_dashboard_path %></li>
					<li><%= link_to "Guide to the Data", media_vault_guide_path %></li>
				<% else %>
					<li><%= t("layouts.footer.request_access_tbd") %></li>
				<% end %>
			<% else %>
				<li><%= link_to t("layouts.footer.request_access"), new_applicant_path %></li>
				<li><%= link_to t("layouts.footer.log_in"), new_user_session_path %></li>
			<% end %>
			<li><%= link_to t("layouts.footer.about"), about_path %></li>
			<li><%= link_to t("layouts.footer.contact"), contact_path %></li>
		</ol>
	</nav>

	<nav id="site-footer__nav--secondary" class="site-footer__nav">
		<ol>
			<li><%= link_to t("layouts.footer.terms_and_conditions"), terms_path %></li>
			<li><%= link_to t("layouts.footer.privacy_policy"), privacy_path %></li>
			<li><%= link_to t("layouts.footer.opt_out"), media_vault_optout_path %></li>
			<%# <li><%= link_to "GitHub", "https://github.com/TechAndCheck/zenodotus/" %></li>
			<li><%= link_to "Fact-Check Insights", fact_check_insights_root_url %></li>
		</ol>
	</nav>

	<%= link_to "https://reporterslab.org/", id: "site-footer__reporters-lab-logo" do %>
		<%= image_tag "logos/duke-reporters-lab-logo.png", size: "167x60", alt: "Duke Reporters’ Lab | Sanford School of Public Policy" %>
	<% end %>
</footer>
