<header id="site-header" data-controller="site-nav">
	<nav id="site-nav--condensed" class="site-nav">
		<%= link_to root_path, class: "site-nav__logo" do %>
			<%= use_svg "media-vault-logo-mark", svg_attrs: {
				class: "site-nav__logo__mark",
				width: 24,
				height: 24,
				aria: { hidden: true },
			} %>
			<span class="site-nav__logo__type">MediaVault</span>
		<% end %>
		<button id="site-nav__mobile-menu-button" data-action="site-nav#toggleFullNav" aria-label="Toggle nav">
			<span id="site-nav__mobile-menu-button__icon"><span></span></span>
		</button>
	</nav>
	<nav id="site-nav--full" class="site-nav">
		<%= link_to use_svg("media-vault-logo", title: "MediaVault", svg_attrs: { width: 184, height: 82, role: "img" }), root_path, class: "site-nav__logo" %>
		<% if user_signed_in? %>
			<ol id="site-nav__primary" class="site-nav__links">
				<% if current_user.can_access_media_vault? %>
					<li><%= link_to media_vault_dashboard_path, class: "btn btn--naked" do %><span><%= t("layout.header.dashboard") %></span><% end %></li>
					<% if Flipper.enabled?(:adhoc, current_user) %>
						<li><%= link_to media_vault_myvault_path, class: "btn btn--naked" do %><span>MyVault&nbsp;<span style="font-size: .7rem; vertical-align: text-top;" class="super">Beta</span></span><% end %></li>
					<% end %>
					<li><%= link_to media_vault_guide_path, class: "btn btn--naked" do %><span><%= t("layout.header.guide") %><span class="hideable"> <%= t("layout.header.to") %> MediaVault</span></span><% end %></li>
					<li class="site-nav__search">
						<%= render partial: "media_vault/search/search_box", locals: { myvault: @myvault } %>
					</li>
				<% else %>
					<li><%= render partial: "media_vault/request_access_instructions" %></li>
				<% end %>
			</ol>
		<% end %>
  		<ol id="site-nav__account" class="site-nav__links">
 			<% if user_signed_in? %>
				<li id="site-nav__account-menu-wrapper">
   					<%= link_to account_path, id: "site-nav__account-name", class: "btn icon-prefixed", data: { action: "site-nav#toggleAccountMenu" } do %>
  						<%= use_svg "user-circle", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
  						<span><%= current_user.name %></span>
   					<% end %>
   					<ol id="site-nav__account-menu" class="site-nav__links">
  						<li>
 							<%= link_to fact_check_insights_root_url, class: "btn btn--naked icon-prefixed" do %>
   									<%= use_svg "switch-lr", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
								<span><%= t("layout.header.switch_to", title: SiteDefinitions::FACT_CHECK_INSIGHTS[:title]) %></span>
 							<% end %>
  						</li>
  						<% if current_user.is_admin? %>
 							<li>
								<%= link_to admin_root_path, class: "btn btn--naked icon-prefixed" do %>
   									<%= use_svg "bolt", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
   									<span><%= t("layout.header.admin") %></span>
								<% end %>
 							</li>
  						<% end %>
  						<li>
 							<%= link_to account_path, class: "btn btn--naked icon-prefixed" do %>
								<%= use_svg "settings", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
								<span><%= t("layout.header.settings") %></span>
 							<% end %>
  						</li>
  						<li>
 							<%= button_to destroy_user_session_path, class: "btn btn--naked btn--danger icon-prefixed", method: :delete do %>
								<%= use_svg "power", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
								<span><%= t("layout.header.logout") %></span>
 							<% end %>
  						</li>
   					</ol>
				</li>
 			<% else %>
				<li><%= link_to  t("layouts.header.request_access"), new_applicant_path, class: "btn" %></li>
				<li><%= link_to t("layouts.header.log_in"), new_user_session_path, class: "btn btn--reversed" %></li>

				<li class="site-nav__language-menu-wrapper">
					<div class="btn" data-action="site-nav#toggleLanguageMenu">
    				<span><%= t("layouts.header.language") %></span>
					</div
					<ol id="site-nav__language-menu" class="site-nav__links">
						<li><%= link_to "En", select_locale_path(locale: "en", current_path: request.env['REQUEST_URI'] ) %></li>
						<li><%= link_to "Es", select_locale_path(locale: "es", current_path: request.env['REQUEST_URI'] ) %></li>
					</ol>
    		</ol>
 			<% end %>
  		</ol>
	</nav>
</header>
