<% @title_tag = t("request_access.request_access") %>

<div class="content">
	<%= form_with(
			model: @applicant,
			url: applicants_path,
			class: "form"
		) do |f| %>
		<fieldset class="fieldset">
			<div class="fieldset__header">
				<div class="fieldset__title h2">
					<%= t("request_access.request_access") %>
				</div>
				<div class="fieldset__description">
					<p class="b2"><%= t("request_access.access_to_the_site") %> <%= link_to t("request_access.please_get_in_touch"), contact_path %></p>
				</div>
			</div>
			<div class="fieldset__fields">
					<div class="field__wrapper--input">
						<%= f.label(
							:name,
							t("request_access.your_name")) %>
						<%= f.text_field(
							:name,
							required: true) %>
						<%= errors_for_field(
							@applicant,
							:name) %>
					</div>
					<div class="field__wrapper--input">
						<%= f.label(
							:email,
							t("request_access.email_address")) %>
						<%= f.email_field(
							:email,
							required: true,
							autocapitalize: "off",
							autocomplete: "email") %>
						<%= errors_for_field(
							@applicant,
							:email) %>
						<div class="field__description"><%= t("request_access.youll_need_to_confirm") %></div>
					</div>
					<div class="field__wrapper--input">
						<%= f.label(
							:use_case,
							t("request_access.how_do_you_plan_to_use_the_data")) %>
						<%= f.text_area(
							:use_case,
							size: "50x3",
							required: true) %>
						<%= errors_for_field(
							@applicant,
							:use_case) %>
					</div>
					<div class="field__wrapper--input">
						<%= f.label :affiliation do %>
							<%= t("request_access.organization_affiliation") %> <span style="font-weight:normal"><%= t("request_access.if_any") %></span>
						<% end %>
						<%= f.text_field :affiliation %>
						<div class="field__description"><%= t("request_access.if_you_will_be_using") %></div>
					</div>
					<div class="field__wrapper--input">
						<%= f.label(
							:primary_role,
							t("request_access.what_is_your_primary_role")) %>
						<%= f.text_field(
							:primary_role,
							placeholder:
							t("request_access.fact-checker_researcher_etc")) %>
					</div>
					<div class="field__wrapper--input">
						<%= f.label(
							:country,
							t("request_access.where_are_you_located")) %>
						<%= f.country_select(
							:country,
							include_blank: true) %>
						<%= errors_for_field(
							@applicant,
							:country) %>
					</div>
					<div class="field__wrapper--checkboxes">
						<div class="checkbox">
							<%= f.check_box(
								:accepted_terms,
								required: true ) %>
							<%= f.label :accepted_terms do %>
								<%= t("request_access.accept_the") %> <%= link_to t("request_access.terms_and_conditions"), terms_path, target: :_blank %>
								<%= errors_for_field(
									@applicant,
									:accepted_terms,
									full: false) %>
							<% end %>
						</div>
					</div>
			</div>
		</fieldset>
		<div class="form__align-with-fields">
			<%= f.submit(
				t("request_access.submit_request"),
				class: "btn btn--submit") %>
		</div>
	<% end %>
</div>
