<% @title_tag = t("guide.what_is_mediavault") %>

<div class="full-bleed-headline">
	<div class="contain content">
		<h2><%= t("guide.what_is_mediavault") %></h2>
	</div>
</div>
<div class="lg:flex lg:gap-20 lg:mb-0">
	<div class="content lg:basis-2/4 b2">
		<p class="b1"><%= t("guide.mediavault_is_an_unprecedented_archive") %></p>
		<p><%= t("guide.our_cutting_edge_system_scrapes") %></p>
		<p><%= t("guide.mediavault_provides_long_term_accessibility") %></p>
	</div>
	<div class="hidden lg:flex lg:place-items-center lg:place-content-center lg:basis-2/4 lg:p-20 bg--media-vault">
		<div class="masked-image masked-image--media-vault max-w-xs w-full">
			<%= image_tag "photos/cameras.jpg" %>
		</div>
	</div>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2><%= t("guide.what_descriptive_data_is_included_with_mediavault_entries") %></h2>
	</div>
</div>
<div class="content">
	<div class="lg:flex lg:gap-20 b2">
		<p class="lg:basis-2/4"><%= t("guide.mediavault_entries_are_collected") %></p>
		<p class="lg:basis-2/4"><%= t("guide.along_with_the_mediareview") %></p>
	</div>
	<p class="mt-10 text-center b1"><%= t("guide.for_more_information_about_claimreview") %> <%= link_to t("guide.the_claimreview__project"), "https://www.claimreviewproject.com/", class: "bg--blue" %>.</p>
</div>


<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2><%= t("guide.how_do_fact_checkers_assess_mediavault_content") %></h2>
	</div>
</div>
<div class="content">
	<p class="b2"><%= t("guide.fact_checking_organizations_around_the_world") %></p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4">Original</dt>
			<dd>No evidence the image or video has been misleadingly altered or manipulated, though it may still contain false or misleading claims.</dd>
		</div>
		<div>
			<dt class="h4">Missing Context</dt>
			<dd>Presenting unaltered images or video in an inaccurate manner to mislead the viewer. For example, labeling with incorrect dates or locations. (An image or video rated “original” can also be missing context.)</dd>
		</div>
		<div>
			<dt class="h4">Cropped or Edited</dt>
			<dd>Presenting a part of an image from a larger whole, or editing or rearranging a video, to mislead the viewer.</dd>
		</div>
		<div>
			<dt class="h4">Transformed</dt>
			<dd>Adding or deleting visual elements to give an image a different meaning with the intention to mislead, or manipulating video footage in ways such as changing speed, dubbing audio or altering visual elements. This rating includes deepfake videos.</dd>
		</div>
		<div>
			<dt class="h4">Staged</dt>
			<dd>An image or video that was created using actors or similarly contrived.</dd>
		</div>
		<div>
			<dt class="h4">Satire/Parody</dt>
			<dd>An image or video that was created as political or humorous commentary and is presented in that context.</dd>
		</div>
	</dl>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2>What is MyVault?</h2>
	</div>
</div>
<div class="content">
	<p class="b2">MyVault is a new feature within MediaVault that allows you to privately archive images, videos, and memes even before you fact-check them. MyVault is currently in beta and we're rolling it out to small groups of users. Your MyVault is a private resource to you, and contents of MyVault are inaccessible to others and not visible on the Dashboard.</p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4">How it Works</dt>
			<dd>Once logged in, navigate to either the “Dashboard” or “MyVault” page and click the “Save A Post” link in the upper right corner of the page. Then, copy and paste the link of the post you wish to archive and click the “Archive” button.</dd>
		</div>
		<div>
			<dt class="h4">What to Expect</dt>
			<dd>We archive posts in the order in which they arrive in our queue. Depending on the size of our queue, archiving your post may take some time, but we’ll send you an email as soon as it’s complete.</dd>
		</div>
		<div>
			<dt class="h4">Supported Platforms</dt>
			<dd>We currently support archiving posts from Facebook, Instagram, YouTube and TikTok. If you have additional needs, please <%= link_to "reach out to us.", "mailto:hello@factcheckinsights.org", class: "bg--blue" %> We may add additional platforms based on demand.</dd>
		</div>
		<div>
			<dt class="h4">Accessible Search</dt>
			<dd>You can easily search posts saved to your personal MyVault by navigating to the MyVault section of our website. Search works the same way as on our dashboard, either by text, image, or video.</dd>
		</div>
		<div>
			<dt class="h4">Important Reminder</dt>
			<dd>We still recommend you make MediaReview and ClaimReview after fact-checking the media you’ve saved. This will allow the post to be added to the searchable archive for all fact-checkers using MediaVault. You’ll also still need to create ClaimReview to be eligible for rich snippets on Google Search and other platform highlights.</dd>
		</div>
		<div>
			<dt class="h4">Coming Soon</dt>
			<dd>We’re working to add collaborative tools like sharing posts with others in your organization and adding notes to a piece of media you’ve saved. Look for these in a future update to MediaVault.</dd>
		</div>
	</dl>
</div>

<div class="full-bleed bg--media-vault">
	<div class="contain">
		<div class="content content--md">
			<h2>How do I exclude my data from MediaVault?</h2>
			<p class="b2"><%= render partial: "optout_instructions" %></p>
		</div>
	</div>
</div>
