<% @title_tag = t("guide.what_is_mediavault") %>

<div class="full-bleed-headline">
	<div class="contain content">
		<h2><%= t("guide.what_is_mediavault") %></h2>
	</div>
</div>
<div class="lg:flex lg:gap-20 lg:mb-0">
	<div class="content lg:basis-2/4 b2">
		<p class="b1"><%= t("guide.mediavault_is_an_unprecedented_archive") %></p>
		<p><%= t("guide.our_cutting_edge_system_scrapes") %></p>
		<p><%= t("guide.mediavault_provides_long_term_accessibility") %></p>
	</div>
	<div class="hidden lg:flex lg:place-items-center lg:place-content-center lg:basis-2/4 lg:p-20 bg--media-vault">
		<div class="masked-image masked-image--media-vault max-w-xs w-full">
			<%= image_tag "photos/cameras.jpg" %>
		</div>
	</div>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2><%= t("guide.what_descriptive_data_is_included_with_mediavault_entries") %></h2>
	</div>
</div>
<div class="content">
	<div class="lg:flex lg:gap-20 b2">
		<p class="lg:basis-2/4"><%= t("guide.mediavault_entries_are_collected") %></p>
		<p class="lg:basis-2/4"><%= t("guide.along_with_the_mediareview") %></p>
	</div>
	<p class="mt-10 text-center b1"><%= t("guide.for_more_information_about_claimreview") %> <%= link_to t("guide.the_claimreview__project"), "https://www.claimreviewproject.com/", class: "bg--blue" %>.</p>
</div>


<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2><%= t("guide.how_do_fact_checkers_assess_mediavault_content") %></h2>
	</div>
</div>
<div class="content">
	<p class="b2"><%= t("guide.fact_checking_organizations_around_the_world") %></p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4"><%= t("guide.original") %></dt>
			<dd><%= t("guide.no_evidence_the_image_or_video") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.missing_context") %></dt>
			<dd><%= t("guide.presenting_unaltered_images_or_video") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.cropped_or_edited") %></dt>
			<dd><%= t("guide.presenting_a_part_of_an_image_from_a") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.transformed") %></dt>
			<dd><%= t("guide.adding_or_deleting_visual_elements") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.staged") %></dt>
			<dd><%= t("guide.an_image_or_video_that_was_created_using_actors_or_similarly_contrived") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.satire_parody") %></dt>
			<dd><%= t("guide.an_image_or_video_that_was_created_as_political_or_humorous_commentary") %></dd>
		</div>
	</dl>
</div>

<div class="full-bleed-headline reversed">
	<div class="contain content">
		<h2><%= t("guide.what_is_myvault") %></h2>
	</div>
</div>
<div class="content">
	<p class="b2"><%= t("guide.myvault_is_a_new_feature") %></p>
	<dl class="mt-20 grid grid-cols lg:grid-cols-3 lg:grid-rows-2 gap-10">
		<div>
			<dt class="h4"><%= t("guide.how_it_works") %></dt>
			<dd><%= t("guide.once_logged_in_navigate") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.what_to_expect") %></dt>
			<dd><%= t("guide.we_archive_posts_in_the_order") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.supported_platforms") %></dt>
			<dd><%= t("guide.we_currently_support_archiving", contact_link: link_to(t("guide.contact_us"), "mailto:hello@factcheckinsights.org", class: "bg--blue")).html_safe %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.accessible_search") %></dt>
			<dd><%= t("guide.you_can_easily_search_posts") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.important_reminder") %></dt>
			<dd><%= t("guide.we_still_recommend_you_make_mediareview") %></dd>
		</div>
		<div>
			<dt class="h4"><%= t("guide.coming_soon") %></dt>
			<dd><%= t("guide.were_working_to_add_collaborative_tools") %></dd>
		</div>
	</dl>
</div>

<div class="full-bleed bg--media-vault">
	<div class="contain">
		<div class="content content--md">
			<h2><%= t("guide.how_do_i_exclude_my_data_from_mediavault") %></h2>
			<p class="b2"><%= render partial: "optout_instructions" %></p>
		</div>
	</div>
</div>
