<% @page_id = "home" %>

<div class="content lg:flex lg:items-center lg:gap-20">
	<div class="lg:basis-2/4 b2">
		<h2><%= t("home.mediavault_is_a_unique_and_unprecedented") %></h2>
		<p><%= t("home.our_cutting-edge_system") %></p>
		<p><%= t("home.mediavault_is_free") %></p>
		<div class="btn-container">
			<% if user_signed_in? %>
				<% if current_user.can_access_media_vault? %>
					<%= link_to t("home.go_to_the_dashboard"), media_vault_dashboard_path, class: "btn btn--reversed btn--lg" %>
				<% else %>
					<%= render partial: "media_vault/request_access_instructions", locals: { button_class: "btn--lg" } %>
				<% end %>
			<% else %>
				<%= link_to t("home.request_access"), new_applicant_path, class: "btn btn--lg" %>
				<span class="mx-2"><%= t("home.or") %></span>
				<%= link_to t("home.log_in"), new_user_session_path, class: "btn btn--reversed btn--lg" %>
			<% end %>
		</div>
	</div>
	<div class="hidden lg:block lg:basis-2/4">
		<div class="masked-image masked-image--media-vault max-w-md mx-auto">
			<%= image_tag "photos/cameras.jpg" %>
		</div>
	</div>
</div>
