<% @page_id = "home" %>

<div class="content lg:flex lg:items-center lg:gap-20">
	<div class="lg:basis-2/4 b2">
		<h2>MediaVault is a unique and unprecedented tool in the fight against social media misinformation.</h2>
		<p>Our cutting-edge system gathers manipulated images and videos shared around the world that have been analyzed by reputable fact-checking organizations. The MediaVault archive allows fact-checkers to maintain a vital portion of their work, and enables quicker research and identification of patterns used in misleading social media posts.</p>
		<p>MediaVault is free for use by fact-checkers, journalists and others working to debunk misinformation shared online, but registration is required.</p>
		<div class="btn-container">
			<% if user_signed_in? %>
				<% if current_user.can_access_media_vault? %>
					<%= link_to "Go to the Dashboard", media_vault_dashboard_path, class: "btn btn--reversed btn--lg" %>
				<% else %>
					<%= render partial: "media_vault/request_access_instructions", locals: { button_class: "btn--lg" } %>
				<% end %>
			<% else %>
				<%= link_to "Request Access", new_applicant_path, class: "btn btn--lg" %>
				<span class="mx-2">or</span>
				<%= link_to "Log In", new_user_session_path, class: "btn btn--reversed btn--lg" %>
			<% end %>
		</div>
	</div>
	<div class="hidden lg:block lg:basis-2/4">
		<div class="masked-image masked-image--media-vault max-w-md mx-auto">
			<%= image_tag "photos/cameras.jpg" %>
		</div>
	</div>
</div>
