<div class="search-box <%= "search-box--media-mode" if (defined?(@media_search) && @query.nil?) %>"
	data-controller="media-vault--search-box"
	data-media-vault--search-box-target="searchBox"
>
  <div class="search-box__form--text">
    <%= form_with url: media_vault_search_path, method: :get,
      class: "search-box__form search-box__form--text",
      data: { "media-vault--search-box-target": "searchByTextForm" } do |f|
    %>
      <%= f.hidden_field :private, value: (myvault.nil? ? false : myvault) %>
      <fieldset class="search-box__fieldset" data-media-vault--search-box-target="searchByTextFieldset" style="margin-right: 10%">
        <%= f.label :q, t("search.search_by_text"), class: "search-box__form__label" %>
        <%= f.text_field :q, class: "search-box__form__field", value: (@query if defined?(@query) && !@query.nil?), "data-media-vault--search-box-target": "searchByTextField" %>
        <%= f.submit t("dashboard.search"), class: "search-box__form__submit btn btn--reversed-subtle" %>
        <!--<div class="search-box__spinner__equalizer" style="width: 15%">
      </div>-->
      </fieldset>
      <div class="search-box__toggle-mode-message">
        <%= t("dashboard.drag_and_drop") %>
        <%= tag.button t("dashboard.search_by_media"), class: "btn--text", type: "button", data: {
          action: "click->media-vault--search-box#switchToMediaMode"
        } %>
      </div>
    <% end %>
  </div>
  <div class="search-box__form--file">
    <%= form_with url: media_vault_search_by_media_path,
      method: :post,
      class: "search-box__form",
      data: {
        "media-vault--search-box-target": "searchByMediaForm",
        action: "submit->media-vault--search-box#onMediaSearch",
        # See #456 for why we aren't using Turbo here.
        turbo: false,
      } do |f|
    %>
      <%= f.hidden_field :private, value: (myvault.nil? ? false : myvault) %>
      <div class="search-box__form__elements">
        <fieldset class="search-box__fieldset" data-media-vault--search-box-target="searchByMediaFieldset">
          <%= f.label :media, "Search by media", class: "search-box__form__label" %>
          <%= f.file_field :media, class: "search-box__form__field", "data-media-vault--search-box-target": "searchByMediaFileInput" %>
          <%= f.submit t("dashboard.search"), class: "search-box__form__submit btn btn--reversed-subtle" %>
          <div class="search-box__spinner__container" data-media-vault--search-box-target="searchBoxSpinner">
            <%= image_tag("icons/spinner.svg", class: 'search-box__spinner') %>
          </div>
        </fieldset>
      </div>
      <div class="search-box__toggle-mode-message">
        <%= t("dashboard.you_can_also_search") %>
        <%= tag.button t("dashboard.search_by_text"), class: "btn--text", type: "button", data: {
          action: "click->media-vault--search-box#switchToTextMode:prevent"
        } %>
      </div>
    <% end %>
    </div>
</div>
