<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <img src="<%= archive_item.facebook_post.author.profile_image.url %>" class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400"/>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">@<%= archive_item.facebook_post.author.name %></h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base"><%= archive_item.facebook_post.author.name %></p>
            <p class="text-base">
            <ul>
              <li><%= archive_item.facebook_post.author.followers_count %> Followers</li>
<!--              <li><%#= archive_item.facebook_post.author.following_count %> Following</li>-->
            </ul>
            </p>
            <%= link_to facebook_user_path(archive_item.facebook_post.author), class: "text-indigo-500 inline-flex items-center", "data-turbo-frame": "_top" do %>
              More Info
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            <% end %>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">

          <%= render partial: "item_media_preview", locals: { item: archive_item.facebook_post } %>

          <p class="leading-relaxed text-lg mb-4">
            <%= archive_item.facebook_post.text %>
          </p>
          <p class="text-base"><%= archive_item.facebook_post.posted_at %></p>
          <!-- <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>
