<div class="archive-item archive-item--boxed">
  <div class="archive-item__inner">
    <div class="author__display-name">
      Additional MediaReview:
    </div>
    <br />
    <div class="grid grid-cols-2 grid-flow-row gap-4">
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Media Link",
                 url: archive_item.media_review.original_media_link } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Media Authenticity Category",
                 value: archive_item.media_review.media_authenticity_category_humanized } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Original Media Context Description",
                 value: archive_item.media_review.original_media_context_description } %>
      <%# render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Taken Down?",
                 value: archive_item.media_review.taken_down ? "Yes" : "No" } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Date Published",
                 time: archive_item.media_review.date_published } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Fact Check URL",
                 url: archive_item.media_review.url } %>
    </div>
  </div>
</div>

<% if archive_item.media_review.claim_reviews.count > 0 %>
<% archive_item.media_review.claim_reviews.each do |claim_review| %>
<div class="archive-item archive-item--boxed">
  <div class="archive-item__inner">
    <div class="author__display-name">
      Claim Review:
    </div>
    <br />
    <div class="grid grid-cols-2 grid-flow-row gap-4">
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Claim",
                 value: claim_review.claim_reviewed } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Rating",
                 value: claim_review.review_rating["alternateName"] } %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Claimed by",
                 value: claim_review.item_reviewed["author"]["name"] } %>
      <% rating_explanation = claim_review.review_rating["ratingExplanation"].nil? ? "" : claim_review.review_rating["ratingExplanation"] %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Rating Explanation",
                 value: rating_explanation } %>

      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Fact Check URL",
                 url: claim_review.url } %>

      <% appearances = claim_review.item_reviewed["appearance"]&.map { |appearance| appearance["url"] } %>
      <% appearances = [] if appearances.nil?
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Claim appearance(s)",
                 urls: appearances } %>

      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Claim Date",
                 time: claim_review.item_reviewed["datePublished"] } %>

      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Fact-checked by",
                 value: "#{claim_review.author["name"]} | #{claim_review.author["url"]}"} %>
      <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: "Date Published",
                 time: claim_review.date_published } %>
    </div>
  </div>
</div>
<% end %>
<% end %>
