<% preview = false unless defined?(preview) %>
<% if media.try(:image_url) %>
    <a href="<%= media_vault_medium_path(media.parent_post.archive_item.id) %>">
        <img class="archive-item__body-media__image <%= "preview" if preview %>" src="<%= media.image_url %>" width="100%" height="auto">
    </a>
<% elsif media.try(:video_url) %>
    <figure class="archive-item__body-media__video <%= "preview" if preview %>">
        <video
            width="100%"
            height="<%= preview ? "315px" : "auto"  %>"
            poster="<%= media.video_derivatives[:preview].url %>"
            preload="none"
            controls
        >
            <source src="<%= media.video_url %>" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <% if media.try(:video_type) == "animated_gif" %>
            <figcaption class="archive-item__body-media__video-caption">
                GIF
            </figcaption>
        <% end %>
    </figure>
<% end %>
