<div>
  <div class="archive-item__metadatum__label"><%= label %></div>
  <div class="archive-item__metadatum__value break-all">
    <% if defined?(url) %>
      <%= link_to url, url %>
    <% elsif defined?(value) %>
      <%= value %>
    <% elsif defined?(time) %>
      <%= time %>
    <% elsif defined?(urls) %>
      <% urls.each do |url| %>
        <%= link_to(url, url) -%>
        <%= ", " unless urls.last == url %>
      <% end %>
    <% elsif defined?(json) %>
      <% json.keys.each do |key| %>
        <% if json[key].class == Hash %>
          <div class="archive-item__metadatum__label"><%= "#{key}:" %></div>
          <% json[key].keys.each do |nested_key| %>
            <div>&nbsp;&nbsp;&nbsp;<span class="archive-item__metadatum__label"><%= nested_key %>:</span> <%= json[key][nested_key] %></div>
          <% end %>
        <% elsif json[key].class == Array %>
          <div class="archive-item__metadatum__label"><%= "#{key}:" %></div>
          <% json[key].each do |object| %>
            <% object.keys.each do |nested_key_2| %>
              <div >&nbsp;&nbsp;&nbsp;<span class="archive-item__metadatum__label"><%= nested_key_2 %>:</span> <%= object[nested_key_2] %></div>
            <% end %>
          <% end %>
        <% else %>
          <%= render partial: "media_vault/media/archive_item_metadata_item",
                 locals: { label: key,
                 value: json[key] } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
