<header id="site-header" data-controller="site-nav" class="public-access">
	<nav id="site-nav--condensed" class="public-access">
		<%= link_to root_path, class: "site-nav__logo" do %>
			<%= use_svg "media-vault-logo-mark", svg_attrs: {
				class: "site-nav__logo__mark",
				width: 24,
				height: 24,
				aria: { hidden: true },
			} %>
			<span class="site-nav__logo__type">MediaVault</span>
		<% end %>
	</nav>
	<nav id="site-nav--full" class="site-nav public-access">
		<%= link_to use_svg("media-vault-logo", title: "MediaVault", svg_attrs: { width: 184, height: 82, role: "img" }), root_path, class: "site-nav__logo" %>
	</nav>
</header>
<% unless @archive_item.nil? %>
    <header id="site-nav--public-access" class="warning">
        <%= image_tag("icons/warning-triangle.svg") %> <%= t("public_media.this_content_was_archived", date: l(@archive_item.created_at, format: "%d %B %Y")) %>
    </header>
<% end %>
