<% @title_tag = "Download the Data" %>

<div class="flex flex-col lg:flex-row gap-10 lg:gap-24 py-10 lg:py-20 bg-shield-from--fact-check-insights">
	<div class="lg:basis-2/4 b2 bg-shield-children bg-shield-from--fact-check-insights">
		<h1 class="h2">The dataset</h1>
		<p>The Fact-Check Insights dataset includes information about tens of thousands of fact-checks published by fact-checking organizations around the world. The dataset is updated with new entries every day. Each item includes a URL for the published fact-check, as well as information about the statement being checked, the speaker, the location, the conclusion the fact-checker reached about the statement’s veracity, and more. (See our <a href="https://www.factcheckinsights.org/guide">Guide</a> for an explanation of each field.)</p>
		<p>This data is intended for download by academics, researchers, journalists, fact-checkers and others who plan to use it for research and development purposes.</p>
	</div>

	<div class="lg:basis-2/4 bg-shield-children bg-shield-from--fact-check-insights">
		<% if user_signed_in? %>
			<h2>Ready to go!</h2>
			<div class="btn-container">
			<!-- 	<div class="alert alert--error" role="alert">
					<div class="alert__message">
						Currently we have disabled downloading the data while we finish up some loose ends. Please bear with us and contact <a href="mailto:hello@factcheckinsights.org">hello@factcheckinsights.org</a> with any questions.
					</div>
				</div -->

				<%= link_to "Download JSON", fact_check_insights_download_path(format: :json), class: "btn btn--orange btn--lg" %>
				<%= link_to "Download CSV", fact_check_insights_download_path(format: :zip), class: "btn btn--orange btn--lg" %>
			</div>
			<p>The compilation of this data is licensed under <%= link_to "CC BY", "https://creativecommons.org/licenses/by/4.0/" %>. <%= render partial: "optout_instructions" %></p>
		<% else %>
			<h2>Access is free, but registration is required.</h2>
			<%= link_to "Request Access", new_applicant_path, class: "btn btn--orange" %> <%= link_to "Log in", new_user_session_path, class: "btn" %>
		<% end %>
	</div>
</div>
