<div id="section--intro" class="full-bleed py-10 lg:py-20">
	<div class="contain">
		<div class="lg:flex lg:items-center lg:justify-between lg:gap-20">
			<h1 class="lg:basis-2/4">Fact-Check Insights puts the power of a global database of fact-checks at your fingertips.</h1>
			<div class="masked-image masked-image--fact-check-insights hidden lg:block lg:basis-2/4 lg:max-w-2xl">
				<%= image_tag "photos/world-economic-forum.jpg" %>
			</div>
		</div>

		<div class="lg:flex lg:items-center lg:justify-between lg:gap-20 lg:mb-20 mb-10">
			<p class="b1 lg:basis-2/4">Fact-Check Insights is a powerful and groundbreaking resource for researchers, journalists, technologists and others studying the fight against political falsehoods and online misinformation. Our comprehensive global database contains structured fact-checking data for tens of thousands of claims from politicians and social media posts that have been analyzed and rated by independent fact-checkers.</p>
			<div class="insights-stats lg:basis-2/4">
				<div class="insights-stat">
					<!-- Use special, thicker version of ClaimReview logo for this size. -->
					<svg class="insights-stat__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 353.81 468.81">
						<path fill="currentColor" d="M304.36,43.2V0H89.59L0,87.09V425.61H49.45v43.2H353.81V43.2h-49.45ZM65.34,452.92v-27.31h239.02V59.1h33.55V452.92H65.34ZM288.47,15.89v27.31H139.04L49.45,130.3V409.71H15.89V93.81L96.05,15.89h192.42Zm0,43.2V409.71H65.34V137.01L145.49,59.1h142.97Z" />
					</svg>
					<div class="insights-stat__count"><%= number_with_delimiter(@stats[:fact_checks]) %></div>
					<div class="insights-stat__label"><%= "fact-check".pluralize(@stats[:fact_checks]) %></div>
				</div>
				<div class="insights-stat">
					<svg class="insights-stat__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 469.77 459.41">
						<path fill="currentColor" d="M431.73,293.95c1.76-10.6,2.68-21.49,2.68-32.58,0-83.75-52.25-155.53-125.87-184.43,.1-1.53,.15-3.07,.15-4.62C308.69,32.44,276.24,0,236.37,0s-72.32,32.44-72.32,72.32c0,1.55,.05,3.08,.15,4.61-73.62,28.91-125.88,100.68-125.88,184.44,0,10.61,.84,21.02,2.46,31.18C16.66,304.28,0,329.04,0,357.62c0,39.88,32.44,72.32,72.32,72.32,15.42,0,29.73-4.85,41.48-13.11,33.74,26.65,76.33,42.58,122.57,42.58s87.66-15.5,121.18-41.51c11.44,7.61,25.16,12.04,39.9,12.04,39.87,0,72.32-32.44,72.32-72.32,0-27.48-15.41-51.43-38.04-63.67ZM182.07,70.89c.76-29.29,24.82-52.89,54.3-52.89s53.54,23.6,54.3,52.89c.01,.47,.02,.95,.02,1.43,0,5.78-.91,11.34-2.59,16.57-7.01,21.87-27.55,37.75-51.73,37.75s-44.72-15.88-51.73-37.75c-1.68-5.23-2.59-10.79-2.59-16.57,0-.48,0-.96,.02-1.43ZM113.57,392.92c-3.94,4.6-8.64,8.54-13.91,11.61-8.03,4.71-17.38,7.41-27.34,7.41-29.95,0-54.32-24.37-54.32-54.32,0-19.83,10.68-37.21,26.6-46.69,5.15-3.08,10.85-5.32,16.91-6.54,3.49-.72,7.11-1.09,10.81-1.09,29.95,0,54.32,24.37,54.32,54.32,0,13.47-4.92,25.8-13.07,35.3Zm122.8,48.49c-40.96,0-78.77-13.75-109.06-36.87,10.8-12.64,17.33-29.03,17.33-46.92,0-39.88-32.44-72.32-72.32-72.32-4.87,0-9.62,.48-14.22,1.41-1.17-8.28-1.78-16.74-1.78-25.34,0-74.97,46.06-139.38,111.36-166.43,9.51,28.84,36.71,49.7,68.69,49.7s59.18-20.86,68.69-49.7c65.3,27.05,111.35,91.46,111.35,166.43,0,8.82-.64,17.49-1.87,25.97-5.48-1.33-11.2-2.04-17.09-2.04-39.88,0-72.32,32.44-72.32,72.32,0,18.53,7,35.46,18.5,48.27-29.98,22.31-67.1,35.52-107.26,35.52Zm161.08-29.47c-9.21,0-17.88-2.3-25.48-6.36-5.42-2.89-10.3-6.67-14.43-11.16-8.95-9.68-14.41-22.61-14.41-36.8,0-29.95,24.37-54.32,54.32-54.32,4.7,0,9.26,.6,13.61,1.72,6.02,1.56,11.63,4.13,16.65,7.51,14.5,9.76,24.06,26.33,24.06,45.09,0,29.95-24.37,54.32-54.32,54.32Z" />
					</svg>
					<div class="insights-stat__count"><%= number_with_delimiter(@stats[:organizations]) %>+</div>
					<div class="insights-stat__label"><%= "organization".pluralize(@stats[:organizations]) %></div>
				</div>
				<div class="insights-stat">
					<svg class="insights-stat__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 468.8 468.81">
						<path fill="currentColor" d="M420.27,91.53c-3.67-4.77-7.54-9.41-11.61-13.91-2.75-3.05-5.59-6.04-8.51-8.96C359.77,28.29,307.27,4.45,250.85,.57c-2.37-.17-4.75-.3-7.14-.39-3.09-.12-6.2-.18-9.31-.18s-6.22,.06-9.31,.18c-2.39,.09-4.77,.22-7.14,.39-56.42,3.88-108.92,27.72-149.3,68.09-2.01,2.01-3.98,4.05-5.91,6.12-4.14,4.44-8.09,9.02-11.85,13.73C17.91,129.84,0,180.74,0,234.41s17.91,104.56,50.89,145.89c3.76,4.7,7.71,9.28,11.85,13.73,1.93,2.07,3.9,4.11,5.91,6.12,40.33,40.33,92.75,64.15,149.08,68.08,2.52,.18,5.05,.31,7.59,.41,3.02,.11,6.04,.17,9.08,.17s6.06-.06,9.08-.17c2.54-.1,5.08-.23,7.6-.41,56.33-3.93,108.75-27.76,149.07-68.08,2.92-2.92,5.76-5.91,8.51-8.96,4.06-4.51,7.94-9.15,11.61-13.91,31.48-40.77,48.53-90.51,48.53-142.87s-17.05-102.11-48.53-142.88Zm-338.89-10.14c34.37-34.37,78.26-55.76,125.73-61.7-24.59,28.85-43.79,61.28-57.07,96.04-25.15-7.29-49.25-17.73-71.81-31.12,1.04-1.08,2.09-2.16,3.15-3.22Zm-15.27,16.94c24.42,14.85,50.58,26.4,77.95,34.42-9.5,29.64-14.82,60.77-15.65,92.66H18.19c1.89-46.82,18.62-90.99,47.92-127.08Zm0,272.15c-29.3-36.09-46.03-80.26-47.92-127.07h110.23c.85,31.88,6.18,63,15.71,92.64-27.39,8.02-53.58,19.57-78.02,34.43Zm15.27,16.95c-1.07-1.07-2.12-2.14-3.16-3.23,22.58-13.4,46.71-23.85,71.89-31.14,13.32,34.78,32.56,67.22,57.21,96.08-47.55-5.9-91.52-27.29-125.94-61.71Zm144.02,55.07c-24.95-28.01-44.39-59.78-57.74-93.99,18.8-4.27,38.11-6.83,57.74-7.59v101.58Zm0-119.59c-21.72,.79-43.08,3.67-63.84,8.54-9.14-28.15-14.28-57.73-15.13-88.04h78.97v79.5Zm0-97.5h-78.98c.83-30.31,5.95-59.9,15.08-88.06,20.78,4.87,42.15,7.76,63.9,8.55v79.51Zm0-97.52c-19.65-.76-38.99-3.32-57.81-7.61,13.35-34.28,32.81-66.12,57.81-94.19V127.89Zm179.51-26.78c27.92,35.56,43.85,78.67,45.7,124.3h-110.22c-.81-31.25-5.94-61.78-15.09-90.89,27.92-7.57,54.64-18.79,79.61-33.41Zm-17.49-19.72c1.9,1.9,3.76,3.84,5.58,5.8-23.13,13.22-47.83,23.38-73.58,30.27-13.31-35.41-32.73-68.44-57.73-97.77,47.47,5.94,91.36,27.33,125.73,61.7ZM243.4,26.09c25.33,28.44,44.97,60.75,58.35,95.55-19.02,3.93-38.54,6.1-58.35,6.44V26.09Zm0,119.99c21.88-.35,43.42-2.82,64.37-7.3,8.83,27.73,13.79,56.83,14.61,86.63h-78.98v-79.33Zm0,97.33h78.97c-.83,29.8-5.82,58.89-14.67,86.61-20.93-4.48-42.44-6.94-64.3-7.29v-79.32Zm0,199.09v-101.77c19.79,.34,39.28,2.51,58.27,6.42-13.37,34.72-32.99,66.97-58.27,95.35Zm144.02-55.07c-34.42,34.42-78.39,55.81-125.94,61.71,25.06-29.34,44.53-62.38,57.87-97.81,25.78,6.89,50.5,17.06,73.65,30.3-1.82,1.96-3.68,3.9-5.58,5.8Zm17.49-19.72c-24.98-14.63-51.73-25.86-79.67-33.44,9.17-29.1,14.31-59.62,15.14-90.86h110.23c-1.85,45.62-17.78,88.73-45.7,124.3Z" />
					</svg>
					<div class="insights-stat__count"><%= number_with_delimiter(@stats[:countries]) %>+</div>
					<div class="insights-stat__label"><%= "country".pluralize(@stats[:countries]) %></div>
				</div>
			</div>
		</div>

		<div class="lg:flex lg:items-center lg:justify-between lg:gap-20 lg:mb-20 mb-10">
			<p class="b1 lg:basis-2/4 mb-0">This rich, important dataset grows every day, providing key data about articles from hundreds of fact-checkers around the world, including well-known organizations such as The Washington Post, Africa Check, Boom, Full Fact, Chequeado and Pagella Politica.</p>
			<div class="masked-image masked-image--media-review hidden lg:block lg:basis-2/4 lg:max-w-xl">
				<%= image_tag "photos/subway.jpg" %>
			</div>
		</div>

		<div class="lg:flex lg:items-center lg:justify-between lg:gap-20 lg:mb-20">
			<div class="masked-image masked-image--claim-review hidden lg:block lg:basis-2/4 lg:max-w-md">
				<%= image_tag "photos/newspaper-room.jpg" %>
			</div>
			<p class="b1 lg:basis-2/4">The Fact-Check Insights database is powered by ClaimReview — which has been called the world’s most successful structured journalism project — and its sibling MediaReview. Both tagging systems allow fact-checkers to enter standardized data about their fact-checks, such as the statement being fact-checked, the speaker, the date, and the rating.</p>
		</div>
	</div>
</div>

<%= render partial: "fact_check_insights/download_cta", locals: {
	button_variant: "btn--reversed",
} %>

<section id="section--projects" class="full-bleed">
	<h2 class="h3">Our projects</h2>
	<div class="projects">
		<%= link_to use_svg(
				"fact-check-insights-logo",
				title: "Fact-Check Insights",
				svg_attrs: { width: "auto", height: 77, role: "img" }
			),
			fact_check_insights_root_url,
			id: "project--fact-check-insights",
			class: "project"
		%>
		<%= link_to use_svg(
				"claim-review-logo",
				title: "ClaimReview",
				svg_attrs: { width: "auto", height: 85, role: "img" }
			),
			"https://www.claimreviewproject.com/",
			id: "project--claim-review",
			class: "project"
		%>
		<%= link_to use_svg(
				"media-review-logo",
				title: "MediaReview",
				svg_attrs: { width: "auto", height: 79, role: "img" }
			),
			"https://www.claimreviewproject.com/mediareview",
			id: "project--media-review",
			class: "project"
		%>
		<%= link_to use_svg(
				"media-vault-logo",
				title: "MediaVault",
				svg_attrs: { width: "auto", height: 73, role: "img" }
			),
			media_vault_root_url,
			id: "project--media-vault",
			class: "project"
		%>
	</div>
</section>

<section id="section--uncover" class="full-bleed">
	<div class="contain">
		<aside class="h1 bg-shield bg-shield-from--dark">Uncover trends and track innovations with Fact-Check Insights.</aside>
	</div>
	<%= use_svg("fact-check-insights-logo-mark", svg_attrs: { id: "section--uncover__ornament" }) %>
</section>

<section id="section--accessing" class="full-bleed">
	<div class="contain">
		<div class="lg:flex">
			<div class="lg:basis-2/4 lg:shrink-0 py-10 lg:py-20 pr-0 lg:pr-20 border-black border-b lg:border-r lg:border-b-0">
				<h2 class="h3">Accessing the Fact-Check Insights Dataset</h2>
				<p class="b2">The Fact-Check Insights dataset is available to academics, researchers, journalists, fact-checkers and others who plan to use fact-checking data for research and development purposes. Access is free, but registration is required.</p>
			</div>
			<div class="lg:basis-2/4 lg:shrink-0 py-10 lg:py-20 pl-0 lg:pl-20">
				<p class="h4">Visit the <%= link_to "Download the Data", fact_check_insights_download_path %> section for more details and to request access.</p>
				<p><%= link_to "Download", fact_check_insights_download_path, class: "btn btn--reversed btn--lg" %></p>
			</div>
		</div>
	</div>
</section>

<section id="section--powerful-tool" class="full-bleed">
	<aside class="h1 bg-shield bg-shield-from--fact-check-insights">Fact-Check Insights is a powerful tool in the fight against political falsehoods and online misinformation.</aside>
</section>

<section id="section--data-in-action" class="full-bleed b2 py-10 lg:py-20">
	<div class="contain">
		<div class="max-w-2xl justify-self-center mb-20">
			<h2>Data in Action</h2>
			<p>What can you do with the Fact-Check Insights data? Researchers are using ClaimReview to track the growth of fact-checking organizations around the world, to analyze which politicians’ statements are most frequently found to be false, to compile lists of websites that have proven to be sources of misleading information, and more.</p>
		</div>
		<ul class="case-studies bg-shield-children">
			<li class="case-study">
				<p>Researcher Thomas Van Damme in Belgium used ClaimReview to document the rise in social media debunking, to calculate the average time between when a claim is made and when it is fact-checked, and to show how fact-checkers absorbed health-related fact-checking during the pandemic, among other findings.</p>
				<p>Publication: <%= link_to "Global Trends in Fact-Checking: A Data-Driven Analysis of ClaimReview", "https://www.academia.edu/59259728/Global_Trends_in_Fact_Checking_A_Data_Driven_Analysis_of_ClaimReview" %></p>
			</li>
			<li class="case-study">
				<p>Academics at the University of Bristol in the U.K. used ClaimReview to create a public misinformation database that included fact-checked claims and rulings.</p>
				<p>Publication: <%= link_to "MuMiN: A Large-Scale Multilingual Multimodal Fact-Checked Misinformation Dataset with Linked Social Network Posts", "https://arxiv.org/pdf/2202.11684.pdf" %></p>
			</li>
			<li class="case-study">
				<p>A group from New York University in the U.S. harvested URLs from ClaimReview to show how false information spreads to different platforms and offered ways to identify abnormal patterns to facilitate fact-checking.</p>
				<p>Publication: <%= link_to "An Automatic Framework to Continuously Monitor Multi-Platform Information Spread", "http://ceur-ws.org/Vol-2890/paper3.pdf" %></p>
			</li>
		</ul>
	</div>
</section>
