<div class="author" data-controller="media-vault--author">
	<img
		class="author__image"
		src="<%= author.profile_image_url %>"
		width="300" height="300"
		alt="Profile photo of <%= author.display_name %>"
	>
	<div class="author__profile">
		<div class="author__name">
			<span class="author__display-name"><%= author.display_name %></span>
			<span class="author__username">@<%= author.handle %></span>
		</div>
		<div class="author__metadata">
			<%= abbreviate_number(author.followers_count) %>
			<%= t("search.follower").pluralize(author.followers_count) %>
			•
			<%= abbreviate_number(author.following_count) %>
			<%= t("search.following").pluralize(autheor.following_count) %>
		</div>
		<div class="author__description">
			<%= author.profile %>
		</div>
	</div>
</div>
