<footer id="site-footer">
	<div id="site-footer__about">
		<%= link_to use_svg("fact-check-insights-logo", title: "Fact-Check Insights", svg_attrs: { id: "site-footer__logo", width: 200, height: 59, role: "img" }), root_path %>
		<div id="site-footer__legal">
			<p><%= link_to "Fact-Check Insights", root_path %> is a project of the <%= link_to "Duke Reporters’ Lab", "https://reporterslab.org/" %>. It collects data that is available for download by academics and others who plan to use it for research and development purposes.</p>
			<p>© <%= link_to "Duke Reporters’ Lab", "https://reporterslab.org/" %> 2022. The compilation of this data is licensed under <%= link_to "CC BY", "https://creativecommons.org/licenses/by/4.0/" %>.</p>
		</div>
	</div>

	<nav id="site-footer__nav--primary" class="site-footer__nav">
		<ol>
			<li><%= link_to "Download the Data", fact_check_insights_download_path %></li>
			<li><%= link_to "Guide to the Data", fact_check_insights_guide_path %></li>
			<li><%= link_to "Highlights", fact_check_insights_highlights_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ol>
	</nav>

	<nav id="site-footer__nav--secondary" class="site-footer__nav">
		<ol>
			<li><%= link_to "Terms and Conditions", fact_check_insights_terms_path %></li>
			<li><%= link_to "Privacy Policy", fact_check_insights_privacy_path %></li>
			<li><%= link_to "Opt Out", fact_check_insights_optout_path %></li>
			<li><%= link_to "GitHub", "https://github.com/TechAndCheck/zenodotus/" %></li>
			<li><%= link_to "MediaVault", media_vault_root_url %></li>
		</ol>
	</nav>

	<%= link_to "https://reporterslab.org/" do %>
		<%= image_tag "logos/duke-reporters-lab-logo.png", size: "167x60", alt: "Duke Reporters’ Lab | Sanford School of Public Policy", id: "site-footer__reporters-lab-logo" %>
	<% end %>
</footer>
