
<div class="lg w-full leading-relaxed text-gray-500 bg-white border-gray-200 border rounded-lg">
  <div class="pt-5 px-5">
    <h3 class="tracking-widest pb-3 text-green-400 text-xs font-medium title-font">
    Users</h3>
  </div>
  <div class="w-full flex px-5">
    <div class="w-1/4">Email</div>
    <div class="w-1/4">Date Created</div>
    <div class="w-1/4">Status</div>
    <div class="w-1/4"></div>
  </div>
  <% @organization.users.each_with_index do |user, index| %>
  <div class="w-full flex px-5 pt-3 pb-3 hover:bg-pink-50
    <%= index % 2 != 0 ? "bg-green-50" : "bg-gray-50" %>" data-controller="organization">
    <div class="w-1/4"><%= user.email %></div>
    <div class="w-1/4"><%= user.created_at %></div>
    <div class="w-1/4">
      <% if user.admin? %>
        Admin
      <% elsif current_user.admin %>
        <%= button_to "Set as admin", organization_update_admin_path(@organization, user), method: "put", class: "underline" %>
      <% end %>
    </div>
    <div class="w-1/4">
      <% if user.admin? || current_user.admin && current_user != user %>
        <%= button_to "Delete User", organization_delete_user_path(@organization, user), method: "delete", class: "underline", data: { action: "click->organization#deleteUser" }  %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
