<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 mt-3 text-gray-900"><%= @organization.name %></h1>
      </div>
      <div class="lg:w-1/2 w-full leading-relaxed text-gray-500 bg-white border-gray-200 border p-6 rounded-lg">
        <h3 class="tracking-widest pb-3 text-green-400 text-xs font-medium title-font">Organization Details</h3>
        <ul>
          <li><span class="text-gray-400">Number of Users:</span> <span class="text-lg"><%= @organization.users.count %></span></li>
          <li><span class="text-gray-400">Number of archived media:</span> <span class="text-lg"><%= @organization.archive_items.count %></span></li>
          <li><span class="text-gray-400">Admin User:</span> <span class="text-lg"><%= @organization.admin.nil? ? "None" : @organization.admin.email %></span></li>
        </ul>
      </div>
      <div class="lg:w-1/2 w-full leading-relaxed text-gray-500 bg-white border-gray-200 border p-6 rounded-lg">
        <h3 class="tracking-widest pb-3 text-green-400 text-xs font-medium title-font">Users</h3>
        <%= render "user_list", locals: { organization: @organization } %>
      </div>
    </div>
  </div>
</section>
