<div>
	<div class="author" data-controller="media-vault--author">
		<img
			class="author__image"
			src="<%= @twitter_user.profile_image_url %>"
			width="300" height="300"
			alt="Profile photo of <%= @twitter_user.display_name %>"
		>
		<div class="author__profile">
			<div class="author__name">
				<span class="author__display-name"><%= @twitter_user.display_name %></span>
				<span class="author__username">@<%= @twitter_user.handle %></span>
			</div>
			<div class="author__metadata">
				<%= abbreviate_number(@twitter_user.followers_count) %>
				<%= "follower".pluralize(@twitter_user.followers_count) %>
				•
				<%= abbreviate_number(@twitter_user.following_count) %>
				following
				•
				<%= @twitter_user.location %>
			</div>
			<div class="author__description">
				<%= @twitter_user.description %>
			</div>
			<div class="author__metadata">
				<span class="icon-prefixed">
					<%= use_svg "calendar-outline", svg_attrs: { class: "icon icon--xl", aria: { hidden: true } } %>
					<span>
						Joined Twitter on
						<time
							datetime="<%= @twitter_user.sign_up_date.iso8601 %>"
							data-media-vault--author-target="timestamp"
						>
							<%= @twitter_user.sign_up_date %>
						</time>
					</span>
			</div>
		</div>
	</div>

	<div class="author-archive">
		<div class="author-archive__header">
			<h2 class="author-archive__title">
				<span class="author-archive__title__archive-size"><%= @archive_items.length %></span>
				<%= "item".pluralize(@archive_items.length) %>
				archived
			</h2>
			<div class="author-archive__actions">
				<%= link_to media_vault_twitter_user_path(@twitter_user, format: "json"), {
					title: "Download user archive in JSON format",
					class: "btn icon-prefixed",
					download: true
				} do %>
					<%= use_svg "download-outline", svg_attrs: { class: "icon icon--lg", aria: { hidden: true } } %>
					JSON
				<% end %>
			</div>
		</div>
		<div class="archive-items archive-items--masonry archive-items--boxed-items">
			<% @archive_items.each do |archive_item| %>
				<%= render partial: "media_vault/media/archive_item", locals: {
					**archive_item.normalized_attrs_for_views,
					include_author: false
				} %>
			<% end %>
		</div>
	</div>
</div>
