<%= turbo_frame_tag "users", target: "_top" do %>
<div class="overflow-x-auto">
	<%= form_with url: admin_users_path, method: :get do |form| %>
	<div class="relative w-80">
		<%= form.search_field :query, class: "appearance-none border-2 pl-10 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-600 focus:border-purple-600 focus:shadow-outline", placeholder: "Search..." %>
	  <div class="absolute right-0 inset-y-0 flex items-center">
	    <svg
	      xmlns="http://www.w3.org/2000/svg"
	      class="-ml-1 mr-3 h-5 w-5 text-gray-400 hover:text-gray-500"
	      fill="none"
	      viewBox="0 0 24 24"
	      stroke="currentColor"
	    >
	      <path
	        stroke-linecap="round"
	        stroke-linejoin="round"
	        stroke-width="2"
	        d="M6 18L18 6M6 6l12 12"
	      />
	    </svg>
	  </div>

	  <div class="absolute left-0 inset-y-0 flex items-center">
	    <svg
	      xmlns="http://www.w3.org/2000/svg"
	      class="h-6 w-6 ml-3 text-gray-400 hover:text-gray-500"
	      fill="none"
	      viewBox="0 0 24 24"
	      stroke="currentColor"
	    >
	      <path
	        stroke-linecap="round"
	        stroke-linejoin="round"
	        stroke-width="2"
	        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
	      />
	    </svg>
	  </div>
	</div>
	<% end %>
	<% if @query %>
		<div class="flex flex-row">
			<h4>“<%= @query %>”</h4>
			<%= link_to "Clear", admin_users_path %>
		</div>
	<% end %>
  <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="px-4 py-2 font-semibold whitespace-nowrap text-gray-900 text-left">Name</th>
        <th class="px-4 py-2 font-semibold whitespace-nowrap text-gray-900 text-left ">Email</th>
        <th class="px-4 py-2"></th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
				<% @users.each do |user| %>
				<%= turbo_frame_tag dom_id(user) do %>
					<tr>
						<td class="px-4 py-2 font-medium whitespace-nowrap text-gray-900">
							<%= link_to user.name, admin_user_path(user) %>
						</td>
						<td class="px-4 py-2 whitespace-nowrap text-gray-700"><%= user.email %></td>
						<td class="px-4 py-2 whitespace-nowrap">
							<%# link_to "Show", user %>
							<%# link_to "Edit", edit_user_path(user) %>
							<%# link_to "Destroy", user, method: :delete, data: { confirm: "Are you sure?" } %>
							<%= link_to "View", admin_user_path(user), class: "inline-block rounded-sm bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700" %>
						</td>
					</tr>
				<% end %>
			<% end %>
    </tbody>
  </table>
</div>
<% end %>

<%= turbo_frame_tag "users_pagination", target: "_top" do %>
	<% render partial: "paginator" %>
<% end %>
