<section class="text-gray-600 body-font">
  <% has_media_review= !archive_item.media_review.nil? %>
  <div class="container px-5 py-5 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">@<%= archive_item.tweet.author.handle %></h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base"><%= archive_item.tweet.author.display_name %></p>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">
            <% if has_media_review  %>
            <ul>
              <li> Original link: <%= archive_item.media_review.original_media_link %></li>
              <li> Authenticity category: <%= archive_item.media_review.media_authenticity_category %> </li>
              <li> Media context: <%= archive_item.media_review.original_media_context_description %> </li>
            </ul>
            <% else %>
            <ul>
              <li> Original link: https://twitter.com/<%= archive_item.tweet.author.handle %>/status/<%= archive_item.tweet.twitter_id %></li>
            </ul>
            <% end %>
          </p>
          <p class="text-base"><%= archive_item.tweet.posted_at %></p>
        </div>
      </div>
    </div>
  </div>
</section>