<div class="flex p-4 px-8 border-b bg-green-100 justify-center">
  <div class="flex flex-row w-3/5">
    <div class="flex-none w-32"><%= link_to "Zenodotus", root_path  %></div>
    <div class="mr-8 flex-grow flex flex-row justify-center">
      <div class="flex-shrink mr-6">
        <a href="#">All Collected Media</a>
      </div>
      <div class="flex-shrink mr-6">
        <%= link_to "Image Search", image_search_path, "data-turbo-frame": "_top" %>
      </div>
      <div class="flex-shrink mr-6">
        <a href="#">All Collected Media</a>
      </div>
      <% if user_signed_in? and current_user.admin? %>
        <%= link_to "Settings", settings_path %>
      <% end %>
    </div>
  </div>
  <div class="flex flex-row">
    <div class="flex-shrink mr-6">
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path, class: "border rounded px-3 py-2 ml-3 bg-white" %>
      <% end %>
    </div>
  </div>
</div>

