<% title = "#{ metadata&.dig(:title) } — #{ site_title }" %>
<!-- Primary Meta Tags -->
<title><%= title %></title>
<meta name="title" content="<%= title %>" />
<meta name="description" content="<%= metadata&.dig(:description) %>" />
<meta name="image" content="<%= metadata&.dig(:images)&.first %>">
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="<%= request.original_url %>" />
<meta property="og:title" content="Archived Fact-Checked Media — MediaVault" />
<meta property="og:description" content="<%= metadata&.dig(:og_description).nil? ? metadata&.dig(:description) : metadata[:og_description] %>" />
<% metadata&.dig(:images)&.each do |image| %>
    <meta property="og:image" content="<%= image %>" />
<% end %>
<% metadata&.dig(:videos)&.each do |video| %>
    <meta property="og:video" content="<%= video %>" />
<% end %>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
