<!DOCTYPE html>
<html>
	<head>
		<title><%= make_title_tag_content(@title_tag) %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<!-- Temporary while using Font Awesome -->
		<script src="https://kit.fontawesome.com/96ec0b6a71.js" crossorigin="anonymous"></script>

		<!--
			Temporary while using Tailwind for scaffolding.
			If you see an error about this file not being in the asset pipeline,
			run `./bin/dev` once, after which `rails s` will work fine. -->
		<%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body class="site--<%= @site[:shortname]%>">
		<div id="site-wrapper">
			<%= render "layouts/#{@site[:shortname]}/header" %>
			<div id="site-main">
				<!--
					This DIV allows the next element to be `.contain`
					without causing it to stretch to the full `#main` height.
				-->
				<div>
					<div class="contain">
						<%= render "layouts/flashes/turbo_flashes" %>
						<!--
							This DIV ensures that any unwrapped `yield` content still ends up in the correct
							grid column. It can probably go away once all the layouts are built properly.
						-->
						<div>
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
			<%= render "layouts/#{@site[:shortname]}/footer" %>
		</div>
		<%= render "layouts/svg_library" %>
	</body>
</html>
