<!DOCTYPE html>
<html>
	<head>
		<!-- <title><%# make_title_tag_content(@title_tag) %></title> -->
		<%= render partial: "layouts/open_graph_meta_tags", locals: { site_title: make_title_tag_content(@title_tag), metadata: @page_metadata } %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<!-- Temporary while using Font Awesome -->
		<script src="https://kit.fontawesome.com/96ec0b6a71.js" crossorigin="anonymous"></script>

		<!--
			Temporary while using Tailwind for scaffolding.
			If you see an error about this file not being in the asset pipeline,
			run `./bin/dev` once, after which `rails s` will work fine. -->
		<%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
	</head>

	<body id="page--<%= @site[:shortname] %>--<%= @page_id || controller.action_name %>" class="site--<%= @site[:shortname]%>">
		<div id="site-wrapper">
		    <% layout_folder = @site[:public_access] ? "public_access" : @site[:shortname] %>
			<%= render "layouts/#{layout_folder}/header", { locals: { myvault: @myvault }} %>
			<div id="site-main">
				<!--
					This DIV allows the next element to be `.contain`
					without causing it to stretch to the full `#main` height.
				-->
				<div>
					<div class="contain">
						<%= render "layouts/flashes/turbo_flashes" %>
						<%= yield %>
					</div>
				</div>
			</div>
			<%= render "layouts/#{layout_folder}/footer" %>
		</div>
		<%= render "layouts/svg_library" %>
	</body>
</html>
