<!DOCTYPE html>
<html>
  <head>
    <title>Zenodotus</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/96ec0b6a71.js" crossorigin="anonymous"></script>
    <!-- /FontAwesome -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body class="bg-green-50">
    <%= render "layouts/header" %>
    <div class="flex flex-col lg:mx-auto mt-4 ml-5 mr-5 max-w-screen-xl">
      <%= render "layouts/flashes" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
