<div class="account-page__box account-update-box" data-controller="change-email">
	<div class="account-page__box--settings__header">
		<h3><%= t("account_admin.change_email.title") %></h3>
		<p>
			<%= t("account_admin.change_email.instructions") %>
		</p>
	</div>
	<div class="account-page__box--settings__form">
		<%= form_with(url: change_email_path,
									html: {
										method: :post,
										class: "form form--vertical",
										data: {
											action: "change-email#resetEmailInputs"
										}
									}) do |f| %>

			<div class="field">
				<%= f.text_field(
					:email,
					"data-change-email-target": "emailInput",
					autofocus: true,
					autocomplete: "new-email",
					autocapitalize: "off",
					placeholder: t("account_admin.change_email.new_email"),
					class: "input input--email") %>
			</div>

			<div class="field">
				<%= f.text_field(
					:email_confirmation,
					"data-change-email-target": "emailConfirmationInput",
					placeholder: t("account_admin.change_email.confirm_email"),
					autocomplete: "new-email",
					autocapitalize: "off",
					class: "input input--email") %>
			</div>

			<div class="actions">
				<%= f.submit t("account_admin.change_email.button"), class: "btn btn--submit" %>
			</div>
		<% end %>
	</div>
</div>
