<div class="box--settings text-search-history-box" data-controller="change-password">
  <%= render "users/shared/error_messages", resource: current_user %>
	<h3>Change password</h3>
	<p>
		To change your password, fill out the form below.
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
	</p>
	<%= form_with( url: change_password_path,
								html: {
									method: :post,
									class: "form form--vertical",
									data: {
										action: "change-password#resetPasswordInputs"
									}
								}) do |f| %>

    <div class="field">
      <%= f.password_field(
        :password,
				"data-change-password-target": "passwordInput",
        autofocus: true,
        autocomplete: "new-password",
        placeholder: "New password",
        class: "input input--email") %>
    </div>

    <div class="field">
      <%= f.password_field(
        :password_confirmation,
				"data-change-password-target": "passwordConfirmationInput",
        placeholder: "Confirm new password",
        autocomplete: "new-password",
        class: "input input--email") %>
    </div>

    <div class="actions">
      <%= f.submit "Change my password", class: "btn btn--submit" %>
    </div>
  <% end %>
</div>
