<div class="account-page__box account-update-box" data-controller="delete-account">
	<div class="account-page__box--settings__header">
		<h3><%= t("account_admin.delete_password.delete_account") %></h3>
		<p>
			<%= t("account_admin.delete_password.to_delete_your_account") %>
		</p>
	</div>
	<div class="account-page__box--settings__form">
		<%= form_with(url: destroy_account_path,
									html: {
										method: :post,
										class: "form form--vertical",
										data: {
											action: "delete-account#confirmDeletion"
										}
									}) do |f| %>

			<div class="field">
				<%= f.password_field(
					:password_for_deletion,
					"data-delete-account-target": "passwordInput",
					autofocus: true,
					autocomplete: "new-password",
					placeholder: t("account_admin.delete_password.password"),
					class: "input input--email") %>
			</div>

			<div class="actions">
				<%= f.submit t("account_admin.delete_password.delete_my_account"), class: "btn btn--submit" %>
			</div>
		<% end %>
	</div>
</div>
