<div class="account-page__box account-update-box account-page__box--double-width" data-controller="manage-mfa">
  <div class="account-page__box--settings__list">
    <h3><%= t('settings.mfa.title') %></h3>
    <p>
      <%= t('settings.mfa.description') %>
    </p>
  </div>
  <div class="account-page__box--settings__list">
    <div class="account-page__box--settings__list--section">
      <b><%= t('settings.mfa.webauthn_section_title') %></b>
      <% if current_user.webauthn_id.nil? %>
        <div><%= t('settings.mfa.enable_webauthn') %></div>
      <% else %>
        <div>
          <table class="table-fixed border w-full">
            <thead class="bg-slate-100">
              <th><%= t('settings.mfa.credential_name') %></th>
              <th><%= t('settings.mfa.created_at') %></th>
              <th></th>
            </thead>
            <tbody>
              <% current_user.webauthn_credentials.each do |credential| %>
              <tr>
                <td><%= credential.nickname %></td>
                <td><%= credential.created_at.strftime("%Y-%m-%d %H:%M %Z") %></td>
                <td><%= link_to t('settings.mfa.delete_device'),
                              destroy_mfa_device_path(credential.id),
                              data: {
                                "turbo-confirm": t('settings.mfa.delete_device_confirm', name: credential.nickname),
                                "turbo-method": :delete
                              } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <div class="mt-5">
        <%= link_to t('settings.mfa.add_webauthn'), account_setup_mfa_path %>
      </div>
    </div>
    <div class="account-page__box--settings__list--section">
      <b><%= t('settings.mfa.totp_section_title') %></b>
      <% if current_user.totp_confirmed %>
        <div class="mt-5">
          <%= t('settings.mfa.totp_enabled') %><br>
          <%= link_to t('settings.mfa.remove_totp'),
                    destroy_totp_device_path,
                    data: {
                      "turbo-confirm": t('settings.mfa.remove_totp_confirm'),
                      "turbo-method": :delete
                    } %>
        </div>
      <% else %>
        <div class="mt-5">
          <%= link_to t('settings.mfa.add_totp'), account_setup_mfa_path %>
        </div>
      <% end %>
      <%= form_with(url: destroy_account_path,
                    html: {
                      method: :post,
                      class: "form form--vertical",
                      data: {
                        action: "delete-account#confirmDeletion"
                      }
                    }) do |f| %>
      <% end %>
    </div>
  </div>
</div>
