<div id="nav" class="h-full w-350px fixed left-0  overflow-x-hidden pt-60px z-1">
  <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
  <a class="block" href="#" onclick="toggleView('accountSettings')">Settings</a>
  <a class="block" href="#" onclick="toggleView('textSearchHistory')">Text searches</a>
  <a class="block" href="#" onclick="toggleView('imageSearchHistory')">Image searches</a>
  <% if current_user.admin? %>
    <a class="block" href="#" onclick="toggleView('userApprovals')">Approvals</a>
    <a class="block">API key</a>
  <%end %>
</div>
<div id="accountSettings" class="settingsBlock">
  <h1 class="text-2xl font-light">Update account details</h1>
  <h2 class="text-lg font-semibold">Change password</h1>
  <%= form_with url:change_password_path, html: { data: { action: "submit->modal#onPostSend ajax:success->modal#onPostSuccess" } }  do |form| %>
    <div>
      Enter a new password: <%= form.text_field :password, type: "password" %>
      Confirm your new password: <%= form.text_field :confirmed_password, type: "password" %>
      <%= form.submit "submit" %>
    </div>
  <% end %>
  <br>
  <h2 class="text-lg font-semibold">Change email</h1>
  <%= form_with url:change_email_path, html: { data: { action: "submit->modal#onPostSend ajax:success->modal#onPostSuccess" } }  do |form| %>
    <div>
      <%= form.text_field :email, placeholder: current_user.email %>
      <%= form.submit "submit" %>
    </div>
  <% end %>
  <br>
  <h2 class="text-lg font-semibold">Delete account</h1>
  <%= link_to "Delete my account", user_registration_path, confirm: "Are you sure?", method: :delete %>
</div>
<div id="textSearchHistory" class="settingsBlock" hidden=true>
  <h1 class="text-2xl font-light">Searches</h1>
  <table>
  <tr>
    <th>Searched at</th>
    <th>Search query</th>
  <tr>
  <% @text_searches.each do |text_search| %>
    <tr>
      <td><%= text_search.created_at %></td>
      <td><%= text_search.query %></td>
    </tr>
  <% end %>
  </table>
  <%== pagy_nav(@pagy) %>

</div>

<div id="imageSearchHistory" class="settingsBlock" hidden=true>
  <h1 class="text-2xl font-light">Searches</h1>
  <table>
  <tr>
    <th>Searched at</th>
    <th>Search query</th>
  <tr>
  <% @image_searches.each do |image_search| %>
    <tr>
      <td><%= image_search.created_at %></td>
      <td><img src="<%= image_search.image_url %>"></td>
    </tr>
  <% end %>
  </table>
  <%== pagy_nav(@pagy_) %>
</div>

<div id="userApprovals" class="setingsBlock" hidden=true>
  <% if current_user.admin? %>
    <h1>User approvals</h1>
    <table id="approvals" class="table-auto">
      <thead>
      <tr>
        <th class="border">Email</th>
        <th class="border">Request</th>
        <th class="border">Action</th>
      </tr>
      </thead>
      <tbody>
      <% User.all.where(approved: false).each do | user| %>
        <tr class="border text-gray-600 hover:text-black">
          <td><%= user.email %>, <%=user.approved %></td>
          <td>Please let me be in the zenodotus demo I need the fact checker clout</td>
          <td>
            <!-- re-render from controller on approve/deny? -->
            <%= button_to "approve", approve_request_path, params: {user: user}, class:"float-left bg-blue-400 hover:bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin" %>
            <%= button_to "deny",  deny_request_path, params: {user: user}, class:"float-left bg-red-400 hover:bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"  %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<script>
  let currentView = "accountSettings";

  // Sidebar navigation
  function toggleView(newView) {
      if (newView == currentView) 
        return

      document.getElementById(currentView).hidden = true;
      document.getElementById(newView).hidden = false;
      currentView = newView;
  }

  // Return to the correct view on search page loads
  window.onload = function() {
      let url = window.location.href;
      if (url.includes("text_search")) {
        document.getElementById("accountSettings").hidden = true;
        document.getElementById("textSearchHistory").hidden = false;
        currentView = "textSearchHistory";
      }
      else if (url.includes("image_search")) {
        document.getElementById("accountSettings").hidden = true;
        document.getElementById("imageSearchHistory").hidden = false;
        currentView = "imageSearchHistory";
      }
  };
</script>
