<div class="flex" data-controller="account">
  <div id="nav" class="h-full overflow-visible w-fit pt-60px shrink-0" >
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="accountSettings">Settings</a>
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="textSearchHistory">Text searches</a>
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="imageSearchHistory">Image searches</a>
  </div>
  <div id="settings" class="flex-grow relative left-5">
    <div id="accountSettings" class="settingsBlock relative w-9/12">
      <h1 class="text-2xl font-light py-3">Update account details</h1>
			<div class="flex flex-wrap">
				<%= render "change_password" %>
				<%= render "change_email" %>
				<%= render "delete_account" %>
			</div>
		</div>
    <div id="textSearchHistory" class="settingsBlock" hidden=true>
      <h1 class="text-2xl font-light py-2">Text Search History</h1>
      <div>
        <div class="flex flex-wrap">
          <% split_searches_by_date(@text_searches).each do |date, searches| %>
						<%= render partial: "text_search_history_box", locals: { date: date, searches: searches } %>
          <% end %>
        </div>
      </div>
      <%== pagy_nav(@pagy_text_searches) if @pagy_text_searches.pages > 1 %>
    </div>

    <div id="imageSearchHistory" class="settingsBlock" hidden=true>
      <h1 class="text-2xl font-light py-2">Image Search History</h1>
      <div>
          <div style="column-count: 3; column-gap: 1em;">
						<% @image_searches.each_with_index do |search, index| %>
                <%= render partial: "image_search_history_box", locals: { search: search, index: index } %>
						<% end %>
            </div>
          </div>
        </div>
      <%== pagy_nav(@pagy_image_searches) if @pagy_image_searches.pages > 1 %>
    </div>
  </div>
</div>
