<div class="flex" data-controller="account">
  <div id="nav" class="account-page__sidebar">
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="accountSettings"><%= t("account_admin.settings") %></a>
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="textSearchHistory"><%= t("account_admin.text_searches") %></a>
    <a class="block" href="javascript:;" data-action="account#toggleView" data-account-id-param="imageSearchHistory"><%= t("account_admin.image_searches") %></a>
  </div>
  <div id="settings" class="account-page__main-content">
    <div data-account-target="updateAccountSection" id="accountSettings" class="account-page__section">
      <h2><%= t("account_admin.update_account_details") %></h2>
			<div class="account-page__box-container account-page__box-container--update-account-container">
				<%= render "change_password" %>
				<%= render "change_email" %>
        <%= render "delete_account" %>
			</div>
      <div class="account-page__box-container account-page__box-container--update-account-container">
        <%= turbo_frame_tag "manage_mfa" do %>
          <%= render "manage_mfa" %>
        <% end %>
      </div>
		</div>
    <div data-account-target="textSearchHistorySection" id="textSearchHistory" class="account-page__section" hidden=true>
      <h2><%= t("account_admin.text_search_history") %></h2>
      <div>
				<div class="account-page__box-container">
					<% if @text_searches.empty? %>
						<h3><%= t("account_admin.no_results_found") %></h3>
					<% else %>
						<% split_searches_by_date(@text_searches).each do |date, searches| %>
							<%= render partial: "text_search_history_box", locals: { date: date, searches: searches } %>
						<% end %>
          <% end %>
        </div>
      </div>
      <%== pagy_nav(@pagy_text_searches) if @pagy_text_searches.pages > 1 %>
    </div>

    <div data-account-target="imageSearchHistorySection" id="imageSearchHistory" class="account-page__section" hidden=true>
      <h2><%= t("account_admin.image_search_history") %></h2>
      <div>
				<div class="account-page__box-container">
					<% if @image_searches.empty? %>
						<h3><%= t("account_admin.no_results_found") %></h3>
					<% else %>
						<% @image_searches.each_with_index do |search, index| %>
							<%= render partial: "image_search_history_box", locals: { search: search, index: index } %>
						<% end %>
					<% end %>
        </div>
      </div>
			<%== pagy_nav(@pagy_image_searches) if @pagy_image_searches.pages > 1 %>
    </div>
  </div>
</div>
