<div class="flex">
  <div id="nav" class="h-full w-1/10 overflow-x-hidden pt-60px flex-shrink">
    <a class="block" href="javascript:;" onclick="toggleView('accountSettings')">Settings</a>
    <a class="block" href="javascript:;" onclick="toggleView('textSearchHistory')">Text searches</a>
    <a class="block" href="javascript:;" onclick="toggleView('imageSearchHistory')">Image searches</a>
    <% if current_user.admin? %>
      <a class="block" href="javascript:;" onclick="toggleView('userApprovals')">Approvals</a>
      <a class="block">API key</a>
    <%end %>
  </div>
  <div id="settings" class="flex-grow relative left-5">
    <div id="accountSettings" class="settingsBlock relative w-9/12">
      <h1 class="text-2xl font-light py-3">Update account details</h1>
      <div id="changePassword" style="background-color: rgb(245 254 250);" class="rounded border-2">
        <div id="changePassword-inner" class="m-3 flex">
          <div id="changePassword-left" class="w-1/3">
            <h2 class="text-lg font-semibold">Change password</h2>
          </div>
          <div id="changePassword-right" class="grow">
            <%= form_with url:change_password_path, html: { data: { action: "submit->modal#onPostSend ajax:success->modal#onPostSuccess" } }  do |form| %>
              <div >
                <span class="relative left-5 h-4"> <%= form.text_field :password, placeholder: "New password", type: "password", class: "bg-gray-200 rounded h-3" %></span>
              </div>
              <div >
                <span class="relative left-5"><%= form.text_field :confirmed_password, placeholder: "Confirm password", type: "password", class: "bg-gray-200 rounded h-3" %></span>
              </div>
              <div>
                <%= form.submit "Update", class: "relative left-5 rounded" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <br>
      <div id="changeEmail" style="background-color: rgb(245 254 250);" class="rounded border-2">
        <div id="changeEmail-inner" class="m-3 flex">
          <div id="changeEmail-left" class="w-1/3">
            <h2 class="text-lg font-semibold">Change email</h2>
          </div>
          <div id="changeEmail-right" class="w-1/3">
            <%= form_with url:change_email_path, html: { data: { action: "submit->modal#onPostSend ajax:success->modal#onPostSuccess" } }  do |form| %>
              <div class="relative left-5">
                <%= form.text_field :email, placeholder: current_user.email, class: "bg-gray-200 rounded h-3"%>
              </div>
              <div>
                <%= form.submit "Update", class: "relative left-5 rounded" %>
              </div>
              </div>
            <% end %>
            </div>
      </div>
      <br>
      <div id="deleteAccount" style="background-color: rgb(245 254 250);" class="rounded border-2">
        <div id="deleteAccount-inner" class="m-3 flex">
          <div id="deleteAccount-left" class="w-1/3">
            <h2 class="text-lg font-semibold">Delete account</h2>
          </div>
          <div id="deleteAccount-right" class="w-1/3">
            <div class="relative left-5 bg-red-50">
              <%= button_to "Delete my account", "/account/users/", params: { user: current_user }, data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="textSearchHistory" class="settingsBlock " hidden=true>
      <h1 class="text-2xl font-light py-2">Text Search History</h1>
      <div style="background-color: rgb(245 254 250); width: fit-content" >
        <table>
          <tr>
            <th class="text-left">Searched at</th>
            <th class="text-left">Searched for</th>
          <tr>
            <% @text_searches.each do |text_search| %>
            <tr>
              <td class="border-2"><%= text_search.created_at %></td>
              <td class="border-2"><%= text_search.query %></td>
            </tr>
          <% end %>
        </table>
        <%== pagy_nav(@pagy) %>
      </div>

    </div>

    <div id="imageSearchHistory" class="settingsBlock" hidden=true>
      <h1 class="text-2xl font-light">Searches</h1>
      <table>
        <tr>
          <th>Searched at</th>
          <th>Searched for</th>
        <tr>
          <% @image_searches.each do |image_search| %>
          <tr>
            <td><%= image_search.created_at %></td>
            <td><img src="<%= image_search.image_url %>"></td>
          </tr>
        <% end %>
      </table>
      <%== pagy_nav(@pagy_) %>
    </div>

    <div id="userApprovals" class="settingsBlock" hidden=true>
      <% if current_user.admin? %>
        <h1>User approvals</h1>
        <table id="approvals" class="table-auto">
          <thead>
          <tr>
            <th class="border">Email</th>
            <th class="border">Request</th>
            <th class="border">Action</th>
          </tr>
          </thead>
          <tbody>
          <% User.all.where(approved: false).each do | user| %>
            <tr class="border text-gray-600 hover:text-black">
              <td><%= user.email %>, <%=user.approved %></td>
              <td>Please let me be in the zenodotus demo I need the fact checker clout</td>
              <td>
                <!-- re-render from controller on approve/deny? -->
                <%= button_to "approve", approve_request_path, params: {user: user}, class:"float-left bg-blue-400 hover:bg-blue-500 p-2 text-white hover:shadow-lg text-xs font-thin" %>
                <%= button_to "deny",  deny_request_path, params: {user: user}, class:"float-left bg-red-400 hover:bg-red-500 p-2 text-white hover:shadow-lg text-xs font-thin"  %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<script>

  console.log("SCRIPTED")
  // Sidebar navigation
  function toggleView(newViewId) {
      let currentView = [...document.getElementsByClassName("settingsBlock")].filter(i => i.getAttribute("hidden") == null)[0];
      let newView = document.getElementById(newViewId);
      if (newView === currentView) {
        console.log("Not toggling view")
        return
      }
      console.log("Toggling view from", currentView.id, "to", newView.id);
      currentView.setAttribute("hidden", true);
      console.log(newView)
      newView.removeAttribute("hidden");
  }

  // Return to the correct view on search page loads
      url = window.location.href;
      console.log("load", url);
      if (url.includes("text_search")) {
        document.getElementById("accountSettings").hidden = true;
        document.getElementById("textSearchHistory").removeAttribute("hidden")
        console.log("accountSettings.hidden is now", document.getElementById("accountSettings").hidden);
        console.log("textSearchHistory.hidden is now", document.getElementById("textSearchHistory").hidden);
        currentView = "textSearchHistory";
      }
      else if (url.includes("image_search")) {
        document.getElementById("accountSettings").hidden = true;
        document.getElementById("imageSearchHistory").removeAttribute("hidden");
        currentView = "imageSearchHistory";
      }
</script>
