<% @title_tag = "Finish setting up account" %>

<%= form_with(
		url: create_account_path,
		class: "form"
	) do |f| %>
	<%= f.hidden_field(:reset_password_token, value: @reset_password_token) %>
	<fieldset class="fieldset">
		<div class="fieldset__header">
			<div class="fieldset__title">
				<%= t("after_approval.finish_setting up") %>
			</div>
			<div class="fieldset__description">
				<p><%= t("after_approval.your_request_to_access") %></p>
			</div>
		</div>
		<div class="fieldset__fields">
			<div class="field__wrapper--input">
				<%= f.label(
					:password,
					"#{t("after_approval.password")} *") %>
				<%= f.password_field(
					:password,
					required: false) %>
				<%= errors_for_field(
					@user,
					:password) %>
			</div>
			<div class="field__wrapper--input">
				<%= f.label(
					:password_confirmation,
					"#{t("after_approval.confirm_password")} *") %>
				<%= f.password_field(
					:password_confirmation,
					required: false) %>
				<%= errors_for_field(
					@user,
					:password_confirmation) %>
				<div class="field__description">
					<%= t("after_approval.password_requirements",
									passsword_length_minimum: Devise.password_length.begin,
									password_length_maximum: Devise.password_length.end) %>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="form__align-with-fields">
		<%= f.submit(
			t("after_approval.submit"),
			class: "btn btn--submit") %>
	</div>
<% end %>
