<% @page_id = "mfa-setup" %>

<div id="page--accounts--setup_mfa" class="content lg:flex lg:gap-20">
  <div class="lg:basis-2/4 b2">
    <h2><%= t('2fa.setup_title') %></h2>
    <p>
      <%= t('2fa.security_requirement') %>
    </p>
    <p>
      <%= t('2fa.webauthn_explanation') %>
    </p>
    <p>
      <%= t('2fa.alternative_methods_html',
            google_auth_link: link_to('Google Authenticator', 'https://googleauthenticator.net'),
            authy_link: link_to('Authy', 'https://authy.com/download/')) %>
    </p>
    <p>
      <%= t('2fa.sms_notice') %>
    </p>
    <p>
      <%= t('2fa.support_contact_html',
            email_link: mail_to('hello@factcheckinsights.org')) %>
    </p>
  </div>
  <div class="lg:flex lg:flex-col lg:basis-2/4 mt-16 lg:mt-0" data-controller="webauthn"  data-webauthn-input-value="<%= { publicKey: @options }.to_json %>">
    <div data-webauthn-target="webauthnContainer">
      <div data-webauthn-target="lock" class="setup_mfa--lock"></div>
      <div class="flex justify-center text-center mb-5">
        <%= t("2fa.give_an_optional_nickname") %><br>
        <%= t("2fa.nickname_examples") %>
      </div>
      <div class="flex justify-center">
        <input type="text" data-webauthn-target="nickname" placeholder="Device nickname">
      </div>
      <div data-webauthn-target="webauthnSetup" class="flex justify-center">
        <button data-action="click->webauthn#beginWebauthnSetup" class="btn btn--lg mt-4"><%= t("2fa.start_passkey_setup") %></button>
      </div>
      <div data-webauthn-target="totpSetup" class="flex justify-center mt-8">
        <button data-action="click->webauthn#beginTotpSetup" class="btn btn--lg"><%= t("2fa.begin_app_based_setup") %> <i class="fas fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
